<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문/결제</title>
    <link rel="shortcut icon" href="/img/favicon/favicon-16x16.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/common/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- 페이지 전용 -->
    <link rel="stylesheet" href="/css/order.css">
</head>
<body class="dsnk" data-user-role="member">
<th:block th:replace="~{fragments/fragments :: header}"></th:block>
    
    <main class="container checkout-page" role="main" aria-labelledby="pageTitle">
        <h1 id="pageTitle" class="page-title">주문/결제</h1>
        
        <section class="grid">
            <!-- 좌측 폼 -->
            <div class="left">
                
                <!-- 1. 주문자 정보 -->
                <section class="card" id="buyerSec">
                    <h2 class="sec-title">주문자 정보</h2>
                    <div class="row">
                        <label>이름
                            <input id="buyerName" type="text" readonly th:value="${session.userName}">
                        </label>
                        <label>연락처
                            <input id="buyerPhone1" type="text" readonly
                                   th:value="${#strings.substring(orderEntity.go_receiver_phone,0,3)}">
                            -
                            <input id="buyerPhone2" type="text" readonly
                                   th:value="${#strings.substring(orderEntity.go_receiver_phone,4,8)}">
                            -
                            <input id="buyerPhone3" type="text" readonly th:value="${#strings.substring(orderEntity.go_receiver_phone,9, 13)}">
                        </label>
                    </div>
                    <div class="row">
                        <label>우편번호
                            <input id="buyerPost"type="text" readonly th:value="${orderEntity.go_receiver_post}">
                        </label>
                    </div>
                    <div class="row">
                        <label class="full">주소
                                <input id="buyerAddr" type="text" readonly th:value="${orderEntity.go_receiver_address}">
                        </label>
                        <label>상세 주소
                        <input id="buyerDetail" type="text" readonly th:value="${orderEntity.go_receiver_address_detail}">
                        </label>
                    </div>
                </section>
                
                <!-- 2. 수령인 정보 -->
                <section class="card" id="receiverSec">
                    <div class="sec-head">
                        <h2 class="sec-title">수령인 정보</h2>
                        <label class="chk-inline">
                            <input type="checkbox" id="same">주문자 정보와 동일
                        </label>
                    </div>
                    
                    <div class="row">
                        <label>이름
                            <input id="recvName" type="text" placeholder="수령인 이름">
                        </label>
                        <label>연락처
                            <input id="recvPhone1" type="text" placeholder="010">
                            -
                            <input id="recvPhone2" type="text" placeholder="0000">
                            -
                            <input id="recvPhone3" type="text" placeholder="0000">
                        </label>
                    </div>
                    
                    <div class="row">
                        <label>우편번호
                            <input id="recvPost" type="text" placeholder="우편번호 입력">
                        </label>
                        <div class="mt24">
                            <button type="button" id="btnZip" class="btn-outline">주소 검색</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <label class="full">주소
                            <input id="recvAddr" type="text" placeholder="기본 주소">
                        </label>
                    </div>
                    <div class="row">
                        <label class="full">상세 주소
                            <input id="recvDetail" type="text" placeholder="상세 주소">
                        </label>
                    </div>
                </section>
                
                <!-- 5. 결제 수단 -->
                <section class="card" id="paymentSec">
                    <h2 class="sec-title">결제 수단</h2>
                    
                    <div class="pay-tabs">
                        <label class="radio"><input type="radio" name="pay" value="카드" checked>신용/체크카드</label>
                        <label class="radio"><input type="radio" name="pay" value="계좌">계좌이체</label>
                    </div>
                    
                    <div id="cardBox" class="pay-box">
                        <div class="row">
                            <label>카드사
                                <select id="cardCompany">
                                    <option value="">선택</option>
                                    <option value="국민">국민</option><option value="신한">신한</option>
                                    <option value="삼성">삼성</option><option value="현대">현대</option>
                                </select>
                            </label>
                            <label>할부 개월
                                <select id="installment">
                                    <option value="0">일시불</option>
                                    <option value="2">2개월</option>
                                    <option value="3">3개월</option>
                                    <option value="6">6개월</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </section>
                
            </div>
            <!-- 우측: 요약 -->
            <aside class="right">
                <section class="summary card">
                    <h2 class="sec-title">주문 상품</h2>
                    <table id="goodsList"></table>
                    
                    <dl class="totals">
                        <div class="total"><dt>총 결제 금액</dt><dd id="sumTotal" th:text="${orderEntity.go_total_cost}">₩0</dd></div>
                    </dl>
                    
                    <label class="chk-inline mt8">
                        <input type="checkbox" id="agree">결제 약관에 동의합니다.
                    </label>
                    
                    <button type="button" id="btnPay" class="btn-primary block mt12" onclick="buyConfirm()">결제하기</button>
                </section>
            </aside>
        </section>
    </main>

<th:block th:replace="~{fragments/fragments :: footer}"></th:block>
    
    
    <!-- 주소록 모달 -->
    <dialog id="addrModal" class="modal">
        <div class="modal-body">
            <h3>주소 선택</h3>
            <ul id="addrList" class="addr-list"><!-- JS 렌더링 --></ul>
            <div class="modal-actions">
                <button class="btn" id="addrClose">닫기</button>
            </div>
        </div>
    </dialog>

</body>
<script th:inline="javascript">
// 상품정보 : name > image > value // 장바구니 정보 : qty > id
const gList = [[${session.goodsList}]];
const scList = [[${session.shoppingCartList}]];
console.log(gList);
console.log(scList);
const createHtml = (goods, shoppingCart) =>{
    let html="";
    for(let i = 0; i < goods.length; i++){
        let goodsStr = goods[i];
        let shoppingCartstr = shoppingCart[i];

        let subgoods = goodsStr.replaceAll(' ', '');
        subgoods = subgoods.replaceAll('"', '');
        let subCart = shoppingCartstr.replaceAll(' ', '');
        subCart = subCart.replaceAll('"', '');

        let startName = subgoods.indexOf('g_name')+7;
        let endName = subgoods.indexOf('g_image')-1;
        let name = subgoods.substring(startName, endName);
        let startImage = subgoods.indexOf('g_image')+8;
        let endImage = subgoods.indexOf('g_value')-1;
        let image = subgoods.substring(startImage, endImage);
        let startValue = subgoods.indexOf('g_value')+8;
        let endValue = subgoods.indexOf('}');
        let cost = subgoods.substring(startValue, endValue);
        let startQty = subCart.indexOf('sc_qty')+7;
        let endQty = subCart.indexOf('sc_g_id')-1;
        let qty = subCart.substring(startQty, endQty);
        let startId = subCart.indexOf('sc_g_id')+8;
        let endId = subCart.indexOf('}');
        let id = subCart.substring(startId, endId);
        cost = cost * qty;
        html += `<tr><td><input type="hidden" value="${id}" class="goodsId"><img src="${image}" alt="${name}"></td>
<td>${name}<br>구매수량 : ${qty}개</td><td>${cost}원</td></tr>`
    }
    return html;
}
$(document).ready(function(){
    const $table = $('#goodsList');
    $table.empty();
    try{
        const html = createHtml(gList, scList);
        $table.html(html);
    }catch(e){
        console.log(e);
        $table.html('<span>데이터가 없습니다.')
    }
})


</script>
<script src="/js/shoppingCart.js"></script>
</html>