/* layout 전체 배경 및 중앙 정렬 */
body{
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    background: #f5f5f5;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* 폼 래퍼 */
.signupForm{
    /*background: #fff;*/
    padding: 2rem;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* 라벨 */
.signupForm > label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* 입력 필드 공통 */
.inputForm input[type="text"],
.inputForm input[type="password"],
.inputForm input[type="number"],
.inputForm select{
    width: calc(100% - 0.5rem);
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ID 닉네임 중복확인 버튼 */
.checkBtn {
    display: inline-block;
    align-items: center;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

/* 폰번호 입력창 */
#phone1 {
    width: 3rem;
}
#phone2 {
    width: 4rem;
}
#phone3 {
    width: 4rem;
}

/* 항목 그룹 */
.inputGroup {
    margin-bottom: 0.5rem;
}

/* 버튼 그룹 */
.btnGroup {
    display: flex;
    gap: 1rem;
}

/* 약관내역 */
.terms-box {
    width: 36rem;
    height: 150px;
    overflow-y: scroll;
    border: 1px solid #d1d5db;
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: #fafafa;
    color: #374151;
    font-size: 0.875rem;
    line-height: 1.5;
}
.terms-box p {
    margin-bottom: 1rem;
}