<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar">
        <ul class="nav-menu">
            <li>
                <a href="/" class="logo-link"><img src="/img/favicon/android-icon-48x48.png" alt="홈으로"></a>
            </li>
            <li class="mega-dropdown" id="mega-dropdown">
                <a href="#" class="mega-toggle"><i class="fa fa-bars"></i></a>
            </li>
            <li><a href="#">브랜드</a></li>
            <li class="has-dropdown" data-nav="drink">
                <a href="#" class="dropdown-toggle">음료</a>
                <ul class="dropdown-menu">
                    <li><a href="#">탄산</a></li>
                    <li><a href="#">비탄산</a></li>
                    <li><a href="#">분말</a></li>
                </ul>
            </li>
            <li class="has-dropdown" data-nav="snack">
                <a href="#" class="dropdown-toggle">스낵</a>
                <ul class="dropdown-menu">
                    <li><a href="#">과자</a></li>
                    <li><a href="#">사탕류</a></li>
                    <li><a href="#">초콜릿</a></li>
                    <li><a href="#">아이스크림</a></li>
                    <li><a href="#">빵</a></li>
                </ul>
            </li>
        </ul>
        <div class="auth-buttons" id="auth-buttons"  th:attr="data-user-kind=${session.m_kind}">
            <!-- 검색 버튼 -->
            <div class="search-container">
                <button id="search-btn" class="search-btn">
                    <i class="fa fa-search"></i>
                    <span>검색</span>
                </button>
                <!-- 팝업 -->
                <div id="search-popup" class="search-popup">
                    <div id="popup-content" class="popup-content">
                        <div class="popup-header">
                            <h3>검색 옵션</h3>
                            <button class="close-btn" id="close-popup">&times;</button>
                        </div>
                        <!-- 체크박스 그룹 전체 래퍼 -->
                        <div class="checkbox-group">
                            <!-- 1)대체당 카테고리  -->
                            <fieldset class="filter-category">
                                <legend>대체당</legend>
                                <!-- 각 라벨에 display:inline-block/grid로 배치됩니다-->
                                <label><input type="checkbox" name="sweetener" value="sucralose">수크랄로스</label>
                                <label><input type="checkbox" name="sweetener" value="stevia">스테비아</label>
                                <label><input type="checkbox" name="sweetener" value="allulose">알룰로스</label>
                                <label><input type="checkbox" name="sweetener" value="maltitol">말티톨</label>
                                <label><input type="checkbox" name="sweetener" value="sorbitol">소르비톨</label>
                                <label><input type="checkbox" name="sweetener" value="srythritol">에리스리톨</label>
                                <label><input type="checkbox" name="sweetener" value="xylitol">자일리톨</label>
                                <label><input type="checkbox" name="sweetener" value="saccharin">사카린</label>
                                <label><input type="checkbox" name="sweetener" value="aspartame">아스파탐</label>
                                <label><input type="checkbox" name="sweetener"
                                              value="acesulfame-potassium">아세설팜칼륨</label>
                            </fieldset>
                            <!-- 2) 알러지 카테고리 -->
                            <fieldset class="filter-category">
                                <legend>알러지</legend>
                                <label><input type="checkbox" name="allergy" value="peanut">땅콩</label>
                                <label><input type="checkbox" name="allergy" value="nuts">견과류</label>
                                <label><input type="checkbox" name="allergy" value="soybean">대두</label>
                                <label><input type="checkbox" name="allergy" value="wheat">밀</label>
                                <label><input type="checkbox" name="allergy" value="egg">달걀</label>
                                <label><input type="checkbox" name="allergy" value="milk">우유</label>
                                <label><input type="checkbox" name="allergy" value="fish">생선</label>
                                <label><input type="checkbox" name="allergy" value="shellfish">패류</label>
                            </fieldset>
                        </div>
                        <button class="search-submit-btn">검색</button>
                    </div>
                </div>
            </div>
            <!-- 로그인/회원가입 -->
            <span class="name-call" id="name-call" th:text="${session.userName} + '님, 환영합니다.'"></span>
            <a href="/login" class="login-btn" id="login-btn"><i class="fa-regular fa-user"></i><span>로그인</span></a>
            <a href="/signup" class="signup-btn" id="signup-btn"><i class="fa-solid fa-user-plus"></i><span>회원가입</span></a>
            <a href="/member/logout" class="logout-btn hidden" id="logout-btn"><i class="fa-solid fa-right-from-bracket"></i><span>로그아웃</span></a>
            <a href="/member/mypage" class="mypage-btn hidden" id="mypage-btn"><i
                    class="fa-solid fa-user-gear"></i><span>마이페이지</span></a>
        </div>
    </nav>
    <div class="mega-menu" id="mega-menu">
        <div class="mega-column">
            <h4 class="mega-category active" data-category="drink"><a href="#">브랜드</a></h4>
        </div>
        <div class="mega-column">
            <h4 class="mega-category active" data-category="drink">음료</h4>
            <a href="#" data-link="soda">탄산</a>
            <a href="#" data-link="non-soda">비탄산</a>
            <a href="#" data-link="powder">분말</a>
        </div>
        <div class="mega-column">
            <h4 class="mega-category" data-category="snack">스낵</h4>
            <a href="#" data-link="cookie">과자</a>
            <a href="#" data-link="candy">사탕류</a>
            <a href="#" data-link="chocolate">초콜릿</a>
            <a href="#" data-link="icecream">아이스크림</a>
            <a href="#" data-link="bread">빵</a>
        </div>
    </div>
    <script th:inline="javascript">
        // const m_kind = [[${session.m_kind}]];
    </script>
    <script src="/js/header.js"></script>
</header>
<footer th:fragment="footer">
    <div class="footer-content">
        <img src="/img/232333.png" alt="대체당 로고" class="footer-logo">
        <div class="footer-info-wrapper">
            <ul class="footer-menu-links">
                <li><a href="#">회사 소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">1:1 문의</a></li>
                <li><a href="#">자주 묻는 질문</a></li>
            </ul>
            <ul class="footer-details">
                <li>
                    회사정보<br>
                    사업자등록번호
                </li>
                <li></li>
                <li>
                    메일<br>
                    전화번호<br>
                    주소
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <p class="footer-copy">
        © 2025 대체당. All rights reserved.
    </p>
</footer>
</body>
</html>