<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매회원가입</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/common/reset.css">
    <link rel="stylesheet" href="/css/sellerfrm.css">
</head>
<body>
<form th:action="@{/signup/sellerJoin}" id="signupForm" class="signupForm" method="post">
    <!--  사업자번호 입력  -->
    <div class="inputGroup">
        <label for="sellerNum">사업자등록번호</label>
        <input type="text" class="inputForm" id="sellerNum" name="sellerNum" required placeholder="-(하이픈)빼고 입력하세요." autocomplete="off">
        <input type="button" id="checksellerNum" class="checkBtn" value="중복확인" style="cursor: pointer"><br>
        <span id="idError" th:name="errorMsg"></span>
    </div>
    <!--  비밀번호 입력  -->
    <div class="inputGroup">
        <label for="userPassword">비밀번호</label>
        <input type="password" class="inputForm" id="userPassword" name="userPassword" required placeholder="비밀번호를 입력하세요."><br>
        <span id="pwError" th:name="errorMsg"></span>
    </div>
    <div class="inputGroup">
        <label for="passwordConfirm">비밀번호확인</label>
        <input type="password" class="inputForm" id="passwordConfirm" name="passwordConfirm" required placeholder="비밀번호를 재입력하세요."><br>
        <span id="checkPwError" th:name="errorMsg"></span>
    </div>
    <!--  회사명 입력  -->
    <div class="inputGroup">
        <label for="sellerName">회사명</label>
        <input type="text" class="inputForm" id="sellerName" name="sellerName" required placeholder="회사 이름을 입력하세요." autocomplete="off"><br>
        <span id="nameError" th:name="errorMsg"></span>
    </div>
    <!--  닉네임 입력  -->
    <div class="inputGroup">
        <label for="userNickname">닉네임</label>
        <input type="text" class="inputForm" id="userNickname" name="userNickname" required placeholder="닉네임을 입력하세요." autocomplete="off">
        <input type="button" id="checkNickname" class="checkBtn" value="중복확인" style="cursor: pointer"><br>
        <span id="nicknameError" th:name="errorMsg"></span>
    </div>
    <!--  성별 선택  -->
    <div class="inputGroup">
        <label>성별 선택</label>
        <div>
            <div id="userGender">
                <input type="radio" id="male" name="userGender" value="1">
                <label for="male">남성</label>
                <input type="radio" id="female" name="userGender" value="2">
                <label for="female">여성</label><br>
                <span id="genderError" th:name="errorMsg"></span>
            </div>
        </div>
    </div>
    <!--  생년월일 입력  -->
    <div class="inputGroup">
        <label>생년월일</label><br>
        <select id="birthYear" name="birthYear">
            <option value="" selected disabled hidden>출생년도</option>
        </select>
        <label for="birthYear">년</label>
        <select id="birthMonth" name="birthMonth">
            <option value="" selected disabled hidden>월</option>
        </select>
        <label for="birthMonth">월</label>
        <select id="birthDay" name="birthDay">
            <option value="" selected disabled hidden>일</option>
        </select>
        <label for="birthDay">일</label><br>
        <span id="birthError" th:name="errorMsg"></span>
    </div>
    <!--  전화번호 입력  -->
    <div class="inputGroup">
        <label>전화번호</label><br>
        <input type="text" class="inputForm" id="phone1" name="phone1" size="1" required>
        <span>- </span><input type="text" class="inputForm" id="phone2" name="phone2" size="3" required>
        <span>- </span><input type="text" class="inputForm" id="phone3" name="phone3" size="3" required><br>
        <span id="phoneError" th:name="errorMsg"></span>
    </div>
    <!--  이메일 입력  -->
    <div class="inputGroup">
        <label for="emailLocal">이메일</label><br>
        <input type="text" class="inputForm" id="emailLocal" name="emailLocal" required autocomplete="off">
        <span>@ </span>
        <div id="emailCustomDomainContainer" style="display: inline-flex">
            <input type="text" class="inputForm" id="emailDomain" name="emailDomain" placeholder="직접입력"
                   autocomplete="off" required>
        </div>
        <select id="selectDomain" name="selectDomain">
            <!--            <option value="" selected disabled hidden>도메인</option>-->
            <option value="gmail.com">gmail.com</option>
            <option value="naver.com">naver.com</option>
            <option value="kakao.com">kakao.com</option>
            <option value="hanmail.net">hanmail.net</option>
            <option value="nate.com">nate.com</option>
            <option value="custom" selected>직접입력</option>
        </select>
    </div>
    <!--  주소 입력  -->
    <!--  카카오 우편번호 api 활용  -->
    <div class="inputGroup">
        <label for="searchPostBtn">주소</label><br>
        <input type="text" class="inputForm" id="sample3_postcode" size="4" name="userPost" placeholder="우편번호">
        <input type="button" id="searchPostBtn" onclick="sample3_execDaumPostcode()" value="우편번호 찾기"><br>
        <input type="text" class="inputForm" id="sample3_address" size="20" placeholder="주소">
        <input type="text" class="inputForm" id="sample3_extraAddress" size="30" placeholder="참고항목"><br>
        <input type="text" class="inputForm" id="sample3_detailAddress" name="userAddressDetail" placeholder="상세주소" autocomplete="off">
        <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
                 style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()"
                 alt="접기 버튼">
        </div>
    </div>
    <!--  이용약관  -->
    <div class="inputGroup">
        <label>이용약관</label>
        <div id="joinTermsBox" class="termsBox">
            <p>제1조 (목적)</p>
            <p>본 약관은 Desunack(이하 “회사”)이 제공하는 모든 서비스(이하 “서비스”)의 이용과 관련하여, 회사와 회원 간의 권리, 의무 및 책임 사항, 기타 필요한 사항을 규정함을 목적으로 합니다.</p>

            <p>제2조 (용어의 정의)</p>
            <p>본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
            <p>1. “서비스”라 함은 구현되는 단말기(PC, 휴대용 단말기, 태블릿 등)와 상관없이 회원이 이용할 수 있는 회사의 제반 서비스를 의미합니다.</p>
            <p>2. “회원”이라 함은 회사의 서비스에 접속하여 본 약관에 따라 회사와 이용계약을 체결하고 회사가 제공하는 서비스를 이용하는 고객을 의미합니다.</p>

            <p>제3조 (약관의 효력 및 변경)</p>
            <p>1. 회사는 본 약관의 내용을 회원이 알 수 있도록 서비스 화면에 게시하거나 기타 방법으로 공지합니다.</p>
            <p>2. 회사는 약관의 규제에 관한 법률 등 관련 법령을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.</p>
            <p>3. 회사는 약관을 개정할 경우, 적용일자 및 개정 사유를 명시하여 현행 약관과 함께 서비스 화면에 그 적용일자 7일 이전부터 공지합니다.</p>
            <p>4. 회원이 개정 약관의 적용에 동의하지 않는 경우, 회원은 이용계약을 해지할 수 있습니다.</p>

            <p>제4조 (개인정보보호 의무)</p>
            <p>회사는 관련 법령이 정하는 바에 따라 회원의 개인정보를 보호하기 위해 노력합니다. 개인정보의 보호 및 사용에 대해서는 관련 법령 및 회사의 개인정보처리방침이 적용됩니다.</p>
        </div>
        <input id="joinTermsCheckBox" name="joinTerms" type="checkbox" disabled required>
        <label for="joinTermsCheckBox">이용약관에 동의합니다.</label>
    </div>
    <!--  submit 메시지 박스  -->
    <div id="messageBox" class="messageBox" role="alert"></div>

    <!--  가입하기 / 취소  -->
    <div class="signupFormBtn btnGroup">
        <button type="submit" id="submitBtn" class="submitBtn">가입하기</button>
        <button type="reset" class="resetBtn">취소</button>
    </div>
</form>
</body>
<script src="/js/sellerfrm.js"></script>
<script th:inline="javascript">
    // 카카오 우편번호 api
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function sample3_execDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function (data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample3_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample3_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample3_postcode').value = data.zonecode;
                document.getElementById("sample3_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample3_detailAddress").focus();

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize: function (size) {
                element_wrap.style.height = size.height + 'px';
            },
            width: '100%',
            height: '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
</script>
</html>